.pageWrap {
  font: 14px Helvetica, Sans-Serif;
  line-height: 24px;
  background: url('../images/noise.jpg');
  width: 800px;
  height: 150px;
  margin: 40px auto 60px;
  padding: 40px 20px 20px 20px;
  border: 1px dashed #39393970;
  border: 1px dashed #39393950;
  -webkit-box-shadow: 0px 2px 3px 0px #39393930;
  -moz-box-shadow: 0px 2px 3px 0px #39393930;
  box-shadow: 0px 2px 3px 0px #39393930;
}
.pic {
  width: 150px;
  float: right;
}
.objective {
  max-width: 700px;
  float: left;
}
.objective p {
  font-family: Georgia, Serif;
  font-style: italic;
  color: #666;
}

@media (max-width: 600px) {
  .pageWrap {
    width: 350px;
    height: 200px;
  }
  .pic {
    width: 70px;
    float: right;
  }
  .pageWrap p {
    margin: 0 0 15px 0;
  }
  .objective {
    max-width: 350px;
  }
}
