* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  margin: 20px 10px 10px 10px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
}

.square {
  margin: auto;
  width: 200px;
  height: 200px;
  background-color: beige;
}

/* NavBar */
nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
}

.image {
  width: 100px;
  float: left;
}

.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: white;
  margin: 0 30px 0 0px;
}
.nav-links a:hover {
  color: gray;
}
