* {
  /* font-family: Roboto; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #A20021 #F52F57 #FFFFFF #393939 #F79D5C  */

.container {
  max-width: 1280px;
  margin: auto;
  background-color: #ffffff;
}

/* NavBar */
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #fff;
  padding: 3px 3px 15px 3px;
}

.image {
  height: 55px;
  padding: 0px;
}

.current {
  border-bottom: 1px dotted #f52f57;
}
.nav-links {
  display: flex;
  align-items: center;
}
.nav-links a {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #393939;
  margin: 0 30px 0 0px;
}
.nav-links a:hover {
  color: #f52f57;
  border-bottom: none;
}

.img {
  width: 100%;
}

.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.profileContainer ul li {
  list-style: none;
  margin: 5px;
  line-height: 2;
  position: relative;
}
.profileContainer a {
  text-decoration: none;
  color: #393939;
  margin-left: 5px;
  position: relative;
  top: -5px;
}
.profileContainer h3 {
  flex-basis: 1;
}
